* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.all-reader {
  width: 83vw;
  padding: 10px 10px;
}
.all-reader .user-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
}
.all-reader .user-buttons .create-user-button {
  padding-left: 6px;
  padding-right: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
}
.all-reader .user-buttons .create-user-button span {
  margin-left: 0px;
  padding: 1px;
}
.all-reader .user-buttons .input-search {
  width: 250px;
}
.all-reader h2 {
  margin-top: 33px;
  font-size: 2rem;
  border-bottom: 2px solid #1677ff;
  width: -moz-fit-content;
  width: fit-content;
}
.all-reader .reader-table {
  margin-top: 30px;
}

@media (max-width: 700px) {
  .all-reader hr {
    width: 95vw;
  }
  .all-reader .reader-details {
    width: 95vw;
  }
}
@media (max-width: 400px) {
  .ant-table-thead > tr > th {
    padding: 16px 5px !important;
  }
  .ant-table-content > table > tbody > tr > td {
    padding: 16px 5px !important;
  }
}
.reader-form {
  width: 83vw;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reader-form .reader-form-background-color {
  height: 80%;
  width: 45%;
  background-image: url("../../../public/createuser.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.reader-form form {
  height: 80%;
  width: 45%;
  box-shadow: 0px 0px 20px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reader-form form h3 {
  margin-bottom: 30px;
  font-size: 2rem;
  margin-left: 55px;
  border-bottom: 2px solid #1677ff;
  width: -moz-fit-content;
  width: fit-content;
}
.reader-form form .form-label {
  font-size: 1.6rem;
  margin-left: 55px;
}
.reader-form form input {
  height: 30px;
  width: 70%;
  margin-left: 50px;
}
.reader-form form .select-role {
  height: 30px;
  width: 70%;
  margin-left: 50px;
  color: black;
}
.reader-form form .select-role span {
  color: gray;
}
.reader-form form .formerror {
  height: 10px;
  font-size: 1.4rem;
  color: red;
  margin-left: 50px;
}
.reader-form form .reader-form-button {
  margin-left: 50px;
  width: 80px;
}
.reader-form form .reader-form-button span {
  color: aliceblue;
  margin-left: 0px;
}

@media (max-width: 1300px) {
  .reader-form .reader-form-background-color {
    height: 450px;
    width: 450px;
  }
  .reader-form form {
    width: 450px;
  }
}
@media (max-width: 1200px) {
  .reader-form .reader-form-background-color {
    width: 350px;
  }
  .reader-form form {
    width: 380px;
  }
}
@media (max-width: 1020px) {
  .reader-form .reader-form-background-color {
    display: none;
  }
  .reader-form form {
    width: 380px;
  }
}
@media (max-width: 800px) {
  .reader-form form {
    width: 400px;
  }
  .reader-form form input {
    width: 270px;
  }
  .reader-form form .select-role {
    width: 270px;
  }
}
@media (max-width: 700px) {
  .reader-form {
    margin-top: 35px;
    width: 100vw;
  }
  .reader-form form {
    height: 450px;
    width: 400px;
  }
  .reader-form form input {
    width: 270px;
  }
  .reader-form form .select-role {
    width: 270px;
  }
}
@media (max-width: 450px) {
  .reader-form form {
    width: 300px;
  }
  .reader-form form input {
    width: 190px;
  }
  .reader-form form .select-role {
    width: 190px;
  }
}/*# sourceMappingURL=AllReader.css.map */