* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
body.dark-mode .logo {
  background-image: url("../../../public/whitebooklogo.png");
}
body.dark-mode .sidebar {
  background-color: #232222;
}
body.dark-mode input::-moz-placeholder {
  color: white;
}
body.dark-mode input::placeholder {
  color: white;
}
body.dark-mode .ant-input-affix-wrapper {
  background-color: transparent;
  color: #f7f7f7;
}
body.dark-mode .ant-table-tbody {
  background-color: #232222;
  color: white;
}
body.dark-mode .ant-table-tbody > tr:hover {
  color: black;
}
body.dark-mode .background-book {
  background-color: #232222;
}
body.dark-mode form {
  background-color: #232222;
}
body.dark-mode form input {
  background-color: transparent;
}
body.dark-mode form input::-moz-placeholder:hover {
  color: black;
}
body.dark-mode form input::placeholder:hover {
  color: black;
}
body.dark-mode .book-details {
  color: white;
}
body.dark-mode .input-search .ant-input {
  background-color: transparent;
  color: white;
}
body.dark-mode .input-search input::-moz-placeholder {
  color: white;
}
body.dark-mode .input-search input::placeholder {
  color: white;
}
body.dark-mode .input-search .ant-input-group-addon {
  background-color: #232222 !important;
}
body.dark-mode .select-role {
  background-color: transparent;
  color: white;
}
body.dark-mode .select-role option {
  background-color: black;
  color: white;
}
body.dark-mode .add-book-section {
  background-color: #232222;
}
body.dark-mode form input {
  color: white;
}
body.dark-mode form input:focus {
  color: white;
  background-color: #232222;
}
body.dark-mode form input:hover {
  background-color: #232222;
}
body.dark-mode .heading {
  color: white;
}
body.dark-mode .content {
  color: white;
}
body.dark-mode .book-details .content .title .title-content h3 {
  color: white;
}

html {
  font-size: 62.5%;
}

.component_section {
  display: flex;
}

header {
  height: 12vh;
  width: 100%;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5019607843);
  display: flex;
  padding: 0rem 0.7rem;
  font-size: 1.6rem;
  overflow: hidden;
}
header .nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
}
header .nav .logo {
  height: 40px;
  width: 230px;
  cursor: pointer;
  background-image: url("../../../public/logo.png");
  background-position: 10px;
  background-size: cover;
  margin-left: -30px;
}
header .nav .right-header {
  height: 100%;
  width: 70vw;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav ul {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  list-style: none;
}
header .nav ul .nav_icon {
  font-size: 2rem;
  padding: 0.8rem 0.8rem;
  border-radius: 10%;
}
header .nav ul .nav_icon:hover {
  background-color: lightgray;
  cursor: pointer;
}

.responsive-ul {
  width: 98vw;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: right;
  display: none;
}
.responsive-ul .nav_icon {
  font-size: 1.7rem;
  padding: 0.8rem 0.8rem;
  border-radius: 10%;
}
.responsive-ul .nav_icon:hover {
  background-color: lightgray;
  cursor: pointer;
}

.responsive-header-user-data {
  display: none;
  margin-bottom: 10px;
}
.responsive-header-user-data .header-user-data .user-info {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: cornsilk;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  align-items: flex-start;
}

.responsive-search {
  width: 98vw;
  padding: 10px 10px;
  display: none;
  align-items: center;
  justify-content: center;
}
.responsive-search input {
  width: 300px;
}

.top-sidebar {
  height: 40px;
  margin-top: 10px;
  display: none;
  justify-content: space-between;
  padding: 0rem 2.5rem;
}
.top-sidebar .user-info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.top-sidebar .user-info .user-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #227ec3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.top-sidebar .user-info .user-detail {
  height: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 10px;
}
.top-sidebar .user-info .user-detail p {
  font-size: 16px;
}
.top-sidebar .user-info .user-detail .user-name {
  font-weight: 900;
}
.top-sidebar .user-info .user-detail .user-role {
  font-size: 1.2rem;
  color: gray;
  text-transform: capitalize;
}

.tooltip-header-button {
  display: flex;
  align-items: center;
  gap: 2px;
}
.tooltip-header-button Button {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .responsive-ul {
    display: flex;
  }
  header .header-user-data {
    display: none;
  }
  header .nav {
    width: 100vw;
  }
  header .nav .logo {
    width: 170px;
  }
  header .nav .right-header {
    width: 100px;
    display: none;
  }
  header .nav .right-header .header-ul {
    display: none;
  }
  .responsive-header {
    display: flex;
    padding: 0px 27px;
    margin-top: 10px;
  }
  .responsive-header-user-data {
    display: flex;
  }
}
@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
  .top-sidebar {
    display: flex;
  }
}
@media (max-width: 377px) {
  .responsive-header .responsive-ul Input {
    display: none;
  }
  .responsive-search {
    display: flex;
  }
}
.active {
  background-color: rgba(211, 211, 211, 0.5019607843);
}

.sidebar {
  min-height: 88vh;
  width: 275px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #f7f7f7;
}
.sidebar .user-info {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid lightgray;
}
.sidebar .user-info .user-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #227ec3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.sidebar .user-info .user-detail {
  height: 100px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 10px;
}
.sidebar .user-info .user-detail p {
  font-size: 19px;
}
.sidebar .user-info .user-detail .user-name {
  font-weight: 900;
}
.sidebar .user-info .user-detail .user-role {
  font-size: 1.5rem;
  color: gray;
  text-transform: capitalize;
}
.sidebar .sildebar-content {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .library {
  font-size: 1.9rem;
}
.sidebar .book_section .book_button {
  height: 4rem;
  width: 23rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.6rem;
  margin-top: 1rem;
  border-bottom: 2px solid lightgray;
}
.sidebar .book_section .book_button .lengthOfBooks {
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 9rem;
  background-color: rgba(211, 211, 211, 0.4);
  font-size: 16px;
}
.sidebar .book_section .book_button:hover {
  background-color: rgba(211, 211, 211, 0.5019607843);
  cursor: pointer;
}
.sidebar .setting_section {
  margin-top: 25px;
}
.sidebar .setting_section h3 {
  font-size: 1.8rem;
}
.sidebar .setting_section .dark_mode {
  height: 4rem;
  width: 23rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.6rem;
  margin-top: 0.6rem;
  border-bottom: 2px solid lightgray;
}
.sidebar .setting_section .dark_mode_switch {
  border-radius: 50%;
  margin-left: 7rem;
  font-size: 1.3rem;
}

.bookgrid {
  height: auto;
  width: 83vw;
  padding: 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.bookgrid .card {
  height: 28rem;
}
.bookgrid .card .bg_image {
  height: 23rem;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
}
.bookgrid .card .bg_image .complete_percentage {
  font-size: 1.2rem;
  height: 3rem;
  width: 4rem;
  margin-left: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  color: white;
}
.bookgrid .card .bg_image .book_name {
  font-size: 1.3rem;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  padding: 10px 10px;
}
.bookgrid .card .comic_deatils {
  margin: 0.9rem;
}
.bookgrid .card .comic_name {
  font-size: 2rem;
  width: 150px;
}
.bookgrid .card .author_name {
  font-size: 1.5rem;
}

.data-not-found {
  margin-top: 20px;
  width: 80vw;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1450px) {
  .bookgrid {
    gap: 15px;
  }
}
@media (max-width: 1355px) {
  .bookgrid {
    gap: 20px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 230px;
  }
}
@media (max-width: 1290px) {
  .bookgrid {
    gap: 15px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 210px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 120px;
  }
}
@media (max-width: 1193px) {
  .bookgrid {
    gap: 25px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 250px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 150px;
  }
}
@media (max-width: 1150px) {
  .bookgrid {
    gap: 15px;
  }
}
@media (max-width: 1090px) {
  .bookgrid {
    gap: 10px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 230px;
  }
}
@media (max-width: 1023px) {
  .bookgrid {
    gap: 15px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 210px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 120px;
  }
}
@media (max-width: 983px) {
  .bookgrid {
    gap: 15px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 210px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 120px;
  }
}
@media (max-width: 970px) {
  .bookgrid {
    gap: 10px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 200px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 110px;
  }
}
@media (max-width: 926px) {
  .bookgrid {
    gap: 25px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 250px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 150px;
  }
}
@media (max-width: 838px) {
  .bookgrid {
    gap: 15px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 220px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 140px;
  }
}
@media (max-width: 763px) {
  .bookgrid {
    gap: 15px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 200px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 110px;
  }
}
@media (max-width: 720px) {
  .bookgrid {
    gap: 15px;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 180px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 110px;
  }
}
@media (max-width: 707px) {
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 150px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}
@media (max-width: 700px) {
  .bookgrid {
    width: 100vw;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 200px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}
@media (max-width: 690px) {
  .bookgrid .card {
    height: 30rem;
    border-radius: 5%;
  }
  .bookgrid .card .bg_image {
    width: 170px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}
@media (max-width: 600px) {
  .bookgrid {
    gap: 25px;
  }
  .bookgrid .card {
    height: 30rem;
    border-radius: 5%;
  }
  .bookgrid .card .bg_image {
    width: 230px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}
@media (max-width: 550px) {
  .bookgrid .card {
    height: 30rem;
    border-radius: 5%;
  }
  .bookgrid .card .bg_image {
    width: 220px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}
@media (max-width: 525px) {
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 200px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}
@media (max-width: 490px) {
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 170px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}
@media (max-width: 425px) {
  .bookgrid {
    justify-content: center;
  }
  .bookgrid .card {
    height: 30rem;
  }
  .bookgrid .card .bg_image {
    width: 250px;
  }
  .bookgrid .card .bg_image .book_name {
    margin-left: 70px;
  }
  .bookgrid .comic_name {
    width: 10px;
  }
}/*# sourceMappingURL=Home.css.map */