* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-mode {
    background-color: #333333;
    color: #ffffff;

    .ant-input-group {
        input {
            background-color: transparent;
            color: white;
        }
    }

    .logo {
        background-image: url("../../../public/whitebooklogo.png");

    }

    .sidebar {
        background-color: #232222;

    }

    input::placeholder {
        color: white;
    }

    .ant-input-affix-wrapper {
        background-color: transparent;
        color: #f7f7f7;

    }

    .ant-table-tbody {
        background-color: #232222;
        color: white;
    }

    .ant-table-tbody>tr:hover {
        color: black;
    }

    .background-book {
        background-color: #232222;
    }

    form {
        background-color: #232222;

        input {
            background-color: transparent;
        }

        input::placeholder:hover {
            color: black;
        }

    }

    .book-details {
        color: white;
    }

    //allreader

    .input-search {

        .ant-input {
            background-color: transparent;
            color: white;
        }

        input::placeholder {
            color: white;
        }

        .ant-input-group-addon {
            background-color: #232222 !important;
        }
    }

    .select-role {
        .ant-select-selector {
            background-color: transparent;
            color: white;
        }

        .ant-select-selection-item {
            color: white;
        }
    }

    //addbook
    .add-book-section {
        background-color: #232222;
    }

    form {
        input {
            color: white;
        }

        input:focus {
            color: white;
            background-color: #232222;
        }

        input:hover {
            background-color: #232222;
        }
    }

    //list book

    .heading {
        color: white;
    }

    .content {
        color: white;

    }

    .book-details .content .title .title-content h3 {
        color: white;
    }

}

html {
    font-size: 62.5%;
}

.component_section {
    display: flex;

}


//header design strat from thr here

header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #d3d3d380;
    display: flex;
    padding: 0rem 0.7rem;
    font-size: 1.6rem;
    overflow: hidden;


    .nav {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;


        .logo {
            width: 240px;

            .logo-bg {
                height: 40px;
                width: 240px;
                cursor: pointer;
                background-image: url("../../../public/logo.png");
                background-position: -20px;
                background-size: cover;
            }
        }

        .right-header {
            height: 100%;
            width: 90%;
            padding: 20px;
            margin-left: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            list-style: none;

            .nav_icon {
                font-size: 2rem;
                padding: 0.8rem 0.8rem;
                border-radius: 10%;
            }

            .nav_icon:hover {
                background-color: lightgray;
                cursor: pointer;
            }
        }
    }
}


//header responsive

.responsive-ul {
    width: 98vw;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: right;
    display: none;

    .nav_icon {
        font-size: 1.7rem;
        padding: 0.8rem 0.8rem;
        border-radius: 10%;
    }

    .nav_icon:hover {
        background-color: lightgray;
        cursor: pointer;
    }

}

.responsive-header-user-data {
    .header-user-data {
        .user-info {
            height: 50px;
            width: 150px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: orange;
            color: cornsilk;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            align-items: flex-start;

        }
    }

    display: none;
    margin-bottom: 10px;
}

.responsive-search {

    width: 98vw;
    padding: 10px 10px;
    display: none;
    align-items: center;
    justify-content: center;

    input {
        width: 300px;
    }
}

// toltip desgin

.top-sidebar {
    height: 40px;
    // border: 2px solid black;
    margin-top: 10px;
    display: none;
    justify-content: space-between;
    padding: 0rem 2.5rem;

    .user-info {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        .user-logo {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #227ec3;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }

        .user-detail {
            height: 40px;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding-left: 10px;

            p {
                font-size: 16px;
            }

            .user-name {
                text-transform: capitalize;
                font-weight: 900;
            }

            .user-role {
                font-size: 1.2rem;
                color: gray;
                text-transform: capitalize;
            }

        }

    }
}



.tooltip-header-button {
    display: flex;
    align-items: center;
    gap: 2px;

    Button {
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//media query

@media (max-width:900px) {
    .responsive-ul {
        display: flex;

    }

    header {

        .header-user-data {
            display: none;
        }

        .nav {
            width: 100vw;

            .logo {
                width: 170px;
            }

            .right-header {
                width: 100px;
                display: none;

                .header-ul {
                    display: none;
                }
            }
        }

    }

    .responsive-header {
        display: flex;
        padding: 0px 27px;
        margin-top: 10px;

    }

    .responsive-header-user-data {
        display: flex;
    }
}

@media (max-width:700px) {
    .sidebar {
        display: none;
    }

    .top-sidebar {
        display: flex;
    }
}

@media (max-width:377px) {
    .responsive-header {
        .responsive-ul {
            li:last-child {
                display: none;
            }
        }
    }

    .responsive-search {
        display: flex;
    }
}

.active {
    background-color: #d3d3d380;
}


.sidebar {
    min-height: 90vh;
    width: 275px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #f7f7f7;

    .user-info {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 2px solid lightgray;

        .user-logo {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: #227ec3;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }

        .user-detail {
            height: 100px;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding-left: 10px;

            p {
                font-size: 19px;
            }

            .user-name {
                text-transform: capitalize;
                font-weight: 900;
            }

            .user-role {
                font-size: 1.5rem;
                color: gray;
                text-transform: capitalize;
            }

        }

    }


    .sildebar-content {
        height: 300px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .library {
        font-size: 1.9rem;
    }

    .book_section {
        .book_button {
            height: 4rem;
            width: 23rem;
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 1.5rem;
            gap: 1rem;
            border-radius: 10px;
            padding: 0.6rem;
            margin-top: 1rem;
            border-bottom: 2px solid lightgray;

            .lengthOfBooks {
                padding: 2px 6px;
                border-radius: 50%;
                margin-left: 9rem;
                background-color: #d3d3d366;
                font-size: 16px;
            }
        }

        .book_button:hover {
            background-color: #d3d3d380;
            cursor: pointer;
        }

    }


    .setting_section {
        margin-top: 25px;

        h3 {
            font-size: 1.8rem;
        }

        .dark_mode {
            height: 4rem;
            width: 23rem;
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 1.6rem;
            gap: 1rem;
            border-radius: 10px;
            padding: 0.6rem;
            margin-top: 0.6rem;
            border-bottom: 2px solid lightgray;
        }


        .dark_mode_switch {
            border-radius: 50%;
            margin-left: 7rem;
            font-size: 1.3rem;
        }

    }
}

//Cards style starts from the here

.bookgrid {
    height: auto;
    width: 83vw;
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;


    .card {
        height: 280px;

        .bg_image {
            height: 220px;
            width: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.8rem;
            border-radius: 15px;
            cursor: pointer;

            .complete_percentage {
                font-size: 1.2rem;
                height: 3rem;
                width: 4rem;
                margin-left: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10%;
                background-color: rgba(0, 0, 0, 0);
                backdrop-filter: blur(2rem);
                color: white;
            }

            .book_name {
                font-size: 1.3rem;
                width: fit-content;
                color: white;
                border-radius: 10%;
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(1rem);
                padding: 10px 10px;
            }

        }

        .comic_deatils {
            margin: 0.9rem;
        }

        .comic_name {
            font-size: 2rem;
            width: 150px;
        }

        .author_name {
            font-size: 1.5rem;

        }
    }

}

.modal-pdf {
    margin-top: -50px;
}

.data-not-found {
    margin-top: 20px;
    width: 80vw;
    text-align: center;
    font-size: 18px;
}

//cards media query

@media (max-width:1450px) {
    .bookgrid {

        gap: 15px;
    }
}

@media (max-width:1355px) {
    .bookgrid {
        gap: 20px;

        .card {
            height: 30rem;

            .bg_image {

                width: 230px;
            }
        }
    }

}

@media (max-width:1290px) {
    .bookgrid {
        gap: 15px;

        .card {
            height: 30rem;

            .bg_image {
                width: 210px;
            }
        }
    }
}

@media (max-width:1193px) {
    .bookgrid {
        gap: 25px;

        .card {
            height: 30rem;

            .bg_image {
                width: 250px;
            }
        }
    }
}

@media (max-width:1150px) {
    .bookgrid {
        gap: 15px;
    }
}

@media (max-width:1090px) {
    .bookgrid {
        gap: 10px;

        .card {
            height: 30rem;

            .bg_image {
                width: 230px;
            }
        }
    }

}


@media (max-width:1023px) {
    .bookgrid {
        gap: 15px;

        .card {
            height: 30rem;

            .bg_image {
                width: 210px;
            }
        }
    }
}


@media (max-width:983px) {
    .bookgrid {
        gap: 15px;

        .card {
            height: 30rem;

            .bg_image {
                width: 210px;
            }
        }
    }

}

@media (max-width:970px) {
    .bookgrid {
        gap: 10px;

        .card {
            height: 30rem;

            .bg_image {
                width: 200px;
            }
        }
    }

}

@media (max-width:926px) {
    .bookgrid {
        gap: 25px;

        .card {
            height: 30rem;

            .bg_image {
                width: 250px;
            }
        }
    }

}

@media (max-width:838px) {
    .bookgrid {
        gap: 15px;

        .card {
            height: 30rem;

            .bg_image {
                width: 220px;
            }
        }
    }

}

@media (max-width:763px) {
    .bookgrid {
        gap: 15px;

        .card {
            height: 30rem;

            .bg_image {
                width: 200px;
            }
        }
    }

}

@media (max-width:720px) {
    .bookgrid {
        gap: 15px;

        .card {
            height: 30rem;

            .bg_image {
                width: 180px;
            }
        }
    }

}

@media (max-width:707px) {
    .bookgrid {
        .card {
            height: 30rem;

            .bg_image {
                width: 150px;
            }
        }

        .comic_name {
            width: 10px;
        }
    }

}

@media (max-width:700px) {
    .bookgrid {
        width: 100vw;

        .card {
            height: 30rem;

            .bg_image {
                width: 200px;
            }
        }

        .comic_name {
            width: 10px;
        }
    }

}

@media (max-width:690px) {
    .bookgrid {
        .card {
            height: 30rem;
            border-radius: 5%;

            .bg_image {
                width: 170px;
            }
        }

        .comic_name {
            width: 10px;
        }
    }

}

@media (max-width:600px) {
    .bookgrid {
        gap: 25px;

        .card {
            height: 30rem;
            border-radius: 5%;

            .bg_image {
                width: 230px;
            }
        }

        .comic_name {
            width: 10px;

        }
    }

}

@media (max-width:550px) {
    .bookgrid {
        .card {
            height: 30rem;
            border-radius: 5%;

            .bg_image {
                width: 220px;
            }
        }

        .comic_name {
            width: 10px;
        }
    }

}

@media (max-width:525px) {
    .bookgrid {
        .card {
            height: 30rem;

            .bg_image {
                width: 200px;
            }
        }

        .comic_name {
            width: 10px;
        }
    }
}

@media (max-width:490px) {
    .bookgrid {
        .card {
            height: 30rem;

            .bg_image {
                width: 170px;
            }
        }

        .comic_name {
            width: 10px;
        }
    }

}

@media (max-width:425px) {
    .bookgrid {
        justify-content: center;

        .card {
            height: 30rem;

            .bg_image {
                width: 230px;
            }
        }

        .comic_name {
            width: 10px;
        }
    }

}